# Python Working with data

Data download:
https://figshare.com/ndownloader/articles/1314459/versions/10

Adapted from Data Carpentry's material: 
https://datacarpentry.org/python-ecology-lesson/02-starting-with-data.html

[Accompanying slides](https://docs.google.com/presentation/d/1ii8DKPjMA6krTikfbem7NLjA9XxeCf3e4rwD2N-yyKY/edit?usp=drive_link)

In [ ]:
# Import in a library to work with tabular data
import pandas as pd

In [ ]:
# Load our data 
pd.read_csv("data/surveys.csv")
# About the data: https://datacarpentry.github.io/python-ecology-lesson/02-starting-with-data.html#our-data
# Note that 'pd' is used because we imported pandas as 'pd'

In [ ]:
# Checking data types
type(surveys_df)
surveys_df.dtypes
surveys_df['sex'].dtype
surveys_df['record_id'].dtype

In [ ]:
# Convert data type
surveys_df['record_id'] = surveys_df['record_id'].astype('float64')
surveys_df['record_id'].dtype
surveys_df['plot_id'].dtype
surveys_df.plot_id=surveys_df.plot_id.astype( "float")
surveys_df['plot_id'].dtype

In [ ]:
# Remove rows that contain missing data
df_na = surveys_df.dropna()
df_na
df_na.to_csv('data/surveys_complete.csv', index= False)

### Determining object property and method responses

In [ ]:
surveys_df.head() # The head() method displays the first several lines of a file.

In [ ]:
surveys_df.columns # Look at the column names

In [ ]:
surveys_df.shape # Look at the number of rows and columns

In [ ]:
surveys_df.count() # the number of values in each column

## Statistics From Data

In [ ]:
surveys_df.columns # Look at the column names
pd.unique(surveys_df['species_id']) # get unique values from a column

In [ ]:
#Describe - to get all the stats
surveys_df['weight'].describe()

In [ ]:
# Call each specifically
surveys_df['weight'].min() 
#or ...max() or ...mean() or ...std() or ...count()

### Group By

* Summarize by one or more variables
* Creates a new dataframe

In [ ]:
# Group data by sex
grouped_data = surveys_df.groupby('sex')
grouped_data

How many recorded individuals are female F and male M?

In [ ]:
# What happens when you group by two columns using the following syntax and then calculate mean values?
grouped_data2 = surveys_df.groupby(['plot_id', 'sex'])
grouped_data2.mean(numeric_only=True)

Summarize weight values for each site (plot_id) in your data. 

HINT: you can use the following syntax to only create summary statistics for one column in your data: by_site['weight'].describe()

### Creating Summary Counts in Pandas

In [ ]:
# Count the number of samples by species
species_counts = surveys_df.groupby( 'species_id')['record_id'].count()
species_counts

In [ ]:
# also count just the rows that have the species “DO”
surveys_df.groupby('species_id')['record_id'].count()['DO']

### Basic Plots with Pandas

In [ ]:
# Look at how many animals were captured in each site
total_count = surveys_df.groupby('plot_id')['record_id'].nunique()

# Let's plot it!
total_count.plot(kind='bar')

Exercise: Plotting with Pandas
1. Create a plot of average weight across all species per site.
2. Create a plot of total males versus total females for the entire dataset.

# Indexing, Slicing and Subsetting

In [ ]:
# Data Selection

# Method 1: select a 'subset' of the data using the column name
surveys_df['species_id']

# Method 2: use the column name as an 'attribute'; gives the same output
surveys_df.species_id

In [ ]:
# Create an object, surveys_species, that only contains the `species_id` column
surveys_species = surveys_df['species_id']

In [ ]:
# Select the species and plot columns from the DataFrame
surveys_df[['species_id', 'plot_id']]

#  What happens when you flip the order?

### Slicing Subsets of Rows

'[ ]' operator selects a set of rows and/or columns from a DataFrame

data[start:stop], start included, stops one step before end

In [ ]:
# Select rows 0, 1, 2 (row 3 is not selected)
surveys_df[0:3]

In [ ]:
# Select the first 5 rows (rows 0, 1, 2, 3, 4)
surveys_df[:5]

In [ ]:
# Select the last element in the list
# (the slice starts at the last element, and ends at the end of the list)
surveys_df[-1:]

NOTE: Dateframes require a range selection 
surveys_df[0] will not work, instead use surveys_df.loc[0]

### Copying Objects vs Referencing Objects

In [ ]:
# Using the 'copy() method
true_copy_surveys_df = surveys_df.copy()
# Using the '=' operator
ref_surveys_df = surveys_df
# Assign the value `0` to the first three rows of data in the DataFrame
ref_surveys_df[0:3] = 0
# ref_surveys_df was created using the '=' operator
ref_surveys_df.head()
# surveys_df is the original dataframe
surveys_df.head()
# Reset surveys_df
surveys_df = pd.read_csv("data/surveys.csv")

### Slicing Subsets of Rows and Columns

'loc' is primarily *label* based indexing 

Integers may be used but they are interpreted as a label

#data.loc[list (or range),[column ids] (or ‘:’ for all cols)]

In [ ]:
# Select all columns for rows of index values 0 and 10
surveys_df.loc[[0, 10], :]

iloc is primarily *integer* based indexing

data.iloc[row slicing, column slicing]

In [ ]:
# Return the first 3 rows and columns 2-5
surveys_df.iloc[0:3, 1:4]

## Exercise: Ranges Experimentation
What happens when you execute:

In [ ]:
# surveys_df[0:1]
# surveys_df[:4]
# surveys_df[:-1]

# surveys_df.iloc[0:4, 1:4]
#surveys_df.loc[0:4, 1:4]

### Subsetting Data using Criteria

In [ ]:
#select all rows that have a year value of 2002
surveys_df[surveys_df.year == 2002]

#select all rows that do not have a year value of 2002
surveys_df[surveys_df.year != 2002]

In [ ]:
# using and '&'
surveys_df[(surveys_df.year >= 1980) & (surveys_df.year <= 1985)]

In [ ]:
# use the isin command in Python to query a DataFrame based upon a list of values
surveys_df[surveys_df['species_id'].isin(['NL'])]
#'~' symbol in Python can be used to return the OPPOSITE of the selection 
# e.g surveys_df[~surveys_df['species_id'].isin(['NL'])]
# Note '|' used for or

Exercise: Queries
1. Select a subset of rows in the surveys_df DataFrame that contain data from the year 1999 and that contain weight values less than or equal to 8. How many rows did you end up with?
1. Create a query that finds all rows with a weight value > or equal to 0.
1. Use the isin method to find all plots that contain 'NL' and 'DM'  species in the “surveys” DataFrame. How many records contain these values?
1. Write a query that selects all rows where 'sex' is NOT equal to ‘M’ or ‘F’ in the “surveys” data.
Hint: The ~ symbol in Python can be used to return the OPPOSITE of the selection that you specify in Python. It is equivalent to is not in.

### Masks to identify a specific condition
Masks 
* Used to locate a subset of values 
* Can either exist or not
* For example, NaN, or “Not a Number” values
* Creates an output object with same shape as the original object, 
but with a True or False value for each index location.

Use: pd.isnull(your_dataframe_name)

In [ ]:
# To select just the rows with NaN values, we can use the 'any()' method
surveys_df[pd.isnull(surveys_df).any(axis=1)]
# Note axis=1 refers to columns, using axis of 0 with dataframes wouldn't make sense

In [ ]:
# To select the rows which have null values in a specific column
empty_weights = surveys_df[pd.isnull(surveys_df['weight'])]

### Exercise
1. Create a new DataFrame that only contains observations with sex values that are not female or male. 
    * Assign each sex value in the new DataFrame to the new value of ‘x’. 



1. Create a new DataFrame that contains only observations that are of sex male or female and where weight values are greater than 0.