# Introduction to Python


Adapted from Data Carpentry's material: 
https://datacarpentry.github.io/python-ecology-lesson/01-short-introduction-to-Python.html

[Accompanying slides](https://docs.google.com/presentation/d/1GY0vxYzNeOJjakMkR2Qi09-rHIomQXoA9y3Do35uWP0/edit?usp=drive_link)

## Creating Variables

In [ ]:
# Create a string variable
text = "foo"

In [ ]:
# Create an integer variable
number = 42

In [ ]:
# Create a float variable
pi_value=3.1415

## Returning Variables

In [ ]:
# Use the built-in print function
print(text)

In [ ]:
print(number)

In [ ]:
pi_value

## Checking a Python Data Type

In [ ]:
type(text)

In [ ]:
type(number)

In [ ]:
type (10) # An example of a int 
type(10.0) # An example of a float 
type('10.0') # An example of str

In [ ]:
# Adding variables
type(10+10) 
type(10+10.0) 
type(10*10.0) 
type(10+'10.0') 
type('10.0'+'10') 
#print('10.0'+'10'ï¼‰

## Experimenting with Operators

In [ ]:
6 * 7  # Multiplication 
2 ** 16  # Power 
13 % 5  # Modulo 
3 > 4 
True and True 
True or False 
True == False # compare to values

## Sequences

### Lists

In [ ]:
numbers = [1, 2, 3]

In [ ]:
# print the first value
numbers[0]

In [ ]:
# print the last value
print(numbers[2])
numbers[-1]

In [ ]:
# looping over a list
for num in numbers:
    print(num)

In [ ]:
# Add element to list 
numbers.append(4) 
print (numbers)

In [ ]:
# list can contain different data types
values = ['foo','bar', 1]

In [ ]:
# get the id of a list item
for idx, val in enumerate(values): 
    print(str(idx)+"="+val)

### Tuples

In [ ]:
# Tuples use parentheses 
a_tuple = (1 , 2, 3) 
another_tuple = ( 'blue' , 'green' , 'red')

### Dictionaries

In [ ]:
translation = { 'one' : 'first', 'two' : 'second'}
print (translation[ 'one' ])

## Exercise: Experiment with object types
Create one of the following: 
* list 
* tuple 
* dictionary 

Print the first value from each


Bonus: 
* Print the last value in each 
* Loop through each and print all values

## Functions
Always start with:

def function_name(one or more variables):


    An indented line indicating that it's part of the code block

In [ ]:
# example function that takes two arguments and returns the first plus the second 
def add_function(a, b): 
    result = a + b 
    return result 
z = add_function(5,10)
print (z)

In [ ]:
help(object)

## If then Else

In [ ]:
# Test a single condition 
a = 5 
if a == 5: 
    print( 'A equals 5')

In [ ]:
# If the outcome of the logical operator is not what we tested for we can use the if-then-else construct
a = 6 
if a == 5: 
    print( 'A equals 5') 
else: 
    print( 'A is not equal to 5') 

# use 'elif' after 'if' when you'd like to test for more conditions

## Nested Statements and Loops

In [ ]:
a = 'foo' 
b = 'bar' 
if a == 'foo':    
    if b == 'bar':        
        print('OK this is cool!')    
    else:        
        print('All foo no bar')

### And - Or - Not

In [ ]:
# We can make our conditions more powerful by using the keywords and, or, or not 
a = 7 
if a > 5 and a < 10: 
    print( 'A is between 5 and 10') 
    
a = 15
b = 5
c = 20 
if a > b or a < c: 
    print(f'A is between {b} and {c }') 

a = 5
b = 10 
if not a > b: 
    print( 'A is not greater than B')

## Shorthanded methods - making things more Pythonic
Best to focus on code readability

In [ ]:
a = 5 
if a != 10: print( 'A is not 10')

In [ ]:
a = 5
b = 10 
print('A') if not a < b else print( 'B')

### Nested, breaking and shorthanding loops

In [ ]:
for i in range(4):    
    print(f'\n') 
    for j in range(3): 
        print(f'i = {i}     j = {j}')

In [ ]:
states = ['Colorado', 'Florida', 'Hawaii', 'California', 'Alaska'] 

for state in states:    
    if state == 'Colorado': 
        break    
    print(state)

In [ ]:
mylist = [1, 'One', 'Two', 2, 'three', 3.14] 
for x in mylist: print(x)